<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>348078374631-m3on43kkdma720emlkv3d9bq4ihmjh35.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.348078374631-m3on43kkdma720emlkv3d9bq4ihmjh35</string>
	<key>API_KEY</key>
	<string>AIzaSyBR3kWTtbo-ri-B4qgjW4aFX2lCCJ9XQcY</string>
	<key>GCM_SENDER_ID</key>
	<string>348078374631</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ChatApplication</string>
	<key>PROJECT_ID</key>
	<string>chatapp-7bd36</string>
	<key>STORAGE_BUCKET</key>
	<string>chatapp-7bd36.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:348078374631:ios:c4eaf2887a3c01facf6c42</string>
</dict>
</plist>