<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>181839390608-4islm88e25d4p53rr2521jeouhorvq0g.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.181839390608-4islm88e25d4p53rr2521jeouhorvq0g</string>
	<key>API_KEY</key>
	<string>AIzaSyAWL6h_JuiWOuN_GLqk3__RQ8_laIjuKxY</string>
	<key>GCM_SENDER_ID</key>
	<string>181839390608</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.CustomCell</string>
	<key>PROJECT_ID</key>
	<string>chat-application-cb16c</string>
	<key>STORAGE_BUCKET</key>
	<string>chat-application-cb16c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:181839390608:ios:21c3616a31123ac432b515</string>
	<key>DATABASE_URL</key>
	<string>https://chat-application-cb16c-default-rtdb.europe-west1.firebasedatabase.app</string>
</dict>
</plist>